@font-face {
  font-family: 'NeueCrocoSans';
  src: url("/assets/fonts/NeueCrocoSansRegular.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NeueCrocoSansMedium';
  src: url("/assets/fonts/NeueCrocoSansMedium.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'TTSupermolotNeue-ExtraBold';
  src: url("/assets/fonts/TTSupermolotNeue-ExtraBold.woff") format('woff');
  font-display: swap;
}
